*{
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(56, 196, 149);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    background-color: white;
    justify-content: space-between;
    /* width: 700px; */
    /* margin: auto; */
    margin-top: 200px;
    padding: 20px;

}
.left{
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.left input{
    margin: 10px;
    border-style: hidden;
    border-bottom: 1px solid rgb(118, 114, 114);
}
.left button{
    background-color: rgba(172, 237, 215, 0.768) ;
    width: 120px;
    margin: 0px 30px;
    border-radius:5px;
    padding: 5px;
    border-color:rgba(172, 237, 215, 0.768) ;
    cursor: pointer;
}
.left button:hover{
    transform: scale(1.1);
}
.right{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 450px;
}
.right h1{
    /* margin: 30px 0px 20px 20px; */
    
}
p{
    /* margin: 0px 20px; */
}
.links{
    display: inline-block;
    /* margin: 20px ; */
}
.links a{
    text-decoration: none; 
    box-shadow: 1px 1px 2px black;
    color: black;
    margin: 0px 5px;
}
.links a:hover{
    color: rgba(226, 43, 67, 0.41);
    background-color: rgba(163, 163, 246, 0.442);
}